.mList {
    display: flex;
    justify-content: start;
    margin: 0.5rem;
}
.img-container {
    position: relative;
    transition: transform 0.2s ease;

}

.mList:hover {
    cursor: pointer;
    transform: scale(0.9);
}
.img-container:hover .overlay {
    opacity: 1;
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    transition: 0.5s ease;
    opacity: 0;
    bottom: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
