* {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --color-bg: #141414;
  --color-text: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

.container {
  margin: 0;
}

.movies-list {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
}

.title {
  display: flex;
  justify-content: space-between;
}